# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# Data files
data/raw/
data/processed/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.coverage
.cache

# Logs and temporary files
*.log
*.csv
*.tmp

# Mac OS / Linux system files
.DS_Store
